# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
Project4/StringParser_TEST/Debug/StringParser_TEST.unsuccessfulbuild
*.tlog
Project4/StringParser_TEST/Debug/vc110.idb
*.obj
Project4/StringParser_TEST/Debug/StringParser_TEST.log
*.lastbuildstate
Project4/StringParser/Debug/StringParser.log
*.idb
Project4/StringParser.v11.suo
*.sdf
Project4/StringParser.opensdf
*.log
Project4/FileReader/Debug/FileReader.lib
*.lib
*.sdf
*.sdf
Project4/StringParser.v11.suo

